// Mister C Colours
$mister-c-green: #61A06C;
$mister-c-yellow: #FFAF3E;
$mister-c-grey: #DDD7D1;
$black: #000000;
$white: #FFFFFF;

/* Mister C Fonts */
@font-face {
    font-family: 'Saol';
    src: url(/includes/fonts/Saol-Display-Regular.otf);
}

@font-face {
    font-family: 'Univers';
    src: url(/includes/fonts/UniversLTStd-Ex.otf);
}

