@import '_vars';
@import 'modules/eventPanel';
@import 'modules/navigation';
@import 'modules/hero';
@import 'modules/about';
@import 'modules/music';
@import 'modules/menu';

body {
    background: $black !important;
}

// Headings

h1 {
    font-family: 'Saol', sans-serif !important;
    font-size: 121.5px !important;
}

h2 {
    font-family: 'Saol', sans-serif;
    font-size: 81px !important;
}

h3 {
    font-family: 'Saol', sans-serif;
    font-size: 54px !important;
}

// Paragraph

p {
    font-family: 'Univers', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    line-height: 36px;
}

// Buttons

.mister-c-button-primary {
    outline: 2px solid $mister-c-yellow;
    text-transform: uppercase;
    color: $mister-c-yellow;
    width: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
}

.mister-c-button-primary:hover {
    text-decoration: none;
    color: $mister-c-yellow;
}

.hvr-sweep-to-top:before {
    background: $mister-c-yellow !important;
}

.mister-c-button-secondary {
    outline: 2px solid $black;
    text-transform: uppercase;
    color: $black;
    width: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    background: none !important;
    border: none;
}

.mister-c-button-secondary:hover {
    text-decoration: none;
}

.mister-c-button-secondary:visited {
    text-decoration: none;
    outline: 2px solid $black;
}

