@import '../vars';

#about {
    background: $black;
    height: 100vh;
    padding-top: 60px;
}

#cuisine {
    background-image: url('/images/interior_2.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    white-space: nowrap;
    color: $mister-c-grey;
    border-top-right-radius: 500px;
    margin-bottom: 60px;
    
    h1 {
        font-size: 182.25px;
        padding: 60px;
    }
}

#cocktails {
    background-image: url('/images/drink_1.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    white-space: nowrap;
    color: $mister-c-grey;
    border-top-right-radius: 500px;
    margin-bottom: 60px;
    
    h1 {
        font-size: 182.25px;
        padding: 60px;
    }
}

.about-text {
    p {
        color: $mister-c-grey;
    }
}

#interior {
    background-image: url('/images/food.png');
    background-position: bottom;
    background-size: cover;
    height: 80vh;
    white-space: nowrap;
    color: $mister-c-grey;
    border-top-left-radius: 500px;
    margin-bottom: 60px;

    h1 {
        font-size: 182.25px;
        padding: 60px;
    }
}

