@import '../vars';

footer {
    border-top: 2px solid $mister-c-yellow;
    border-bottom: 2px solid $mister-c-yellow;
    padding-top: 16px;

    h5 {
        color: $mister-c-yellow;
    }
}

.newsletter {
    border-radius: 0 !important;
}

.newsletter-heading {
    font-family: 'Saol';
    font-size: 54px;
}

.form-container {
    margin: 0 !important;
}

[data-form="296eb013-b764-11ec-9258-0241b9615763"] .emailoctopus-form input[type=submit] {
    border-radius: 0 !important;
    border: 0;
    padding: 8px;
    color: $mister-c-yellow !important;
    border-color: $mister-c-yellow !important;
    border-radius: 0 !important;
    outline: 2px solid $mister-c-yellow;
    background: transparent !important;
}

[data-form="296eb013-b764-11ec-9258-0241b9615763"] .emailoctopus-form input[type=submit]:hover {
    background: $mister-c-yellow !important;
    color: white !important;
}

[data-form="296eb013-b764-11ec-9258-0241b9615763"] .emailoctopus-form input:not([type=submit]) {
    border-radius: 0;
}

::placeholder {
    font-family: 'Saol';
}

.copyright {
    font-family: "Saol";

    p {
        font-family: 'Saol';
    }

    .nav-link {
        color: white;
    }

    a {
        color: white;
        font-family: 'Saol';
        text-decoration: none;
    }

    a:hover {
        color: $mister-c-yellow;
        transition: color 0.2s ease-in;
    }
}

.footer-navigation {
    .nav-link {
        color: white;
        font-family: 'Saol';
    }

    .nav-link:hover {
        color: $mister-c-yellow;
        transition: color 0.2s ease-in;
    }
}

.location-text {
    font-family: 'Saol';
}

.footer-logo {
    a {
        color: white;
        font-family: 'Saol';
        text-decoration: none;
    }

    a:hover {
        color: $mister-c-yellow;
        transition: color 0.2s ease-in;
    }
}

