@import '../vars';

#panels {
  border-bottom: 2px solid $mister-c-yellow;
  border-top: 2px solid $mister-c-yellow;
  margin-top: 60px;
}

.event-title {
    color: #FFAF3E;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    font-size: 81px;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.panels {
  height: 100vh;
  overflow: hidden;
  display: flex;

  img {
    max-width: 50%;
  }
}
.panel {
  color:rgb(255, 255, 255);
  text-align: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.panel1 { 
  background-image:url(/images/1.jpg);
  z-index: 1; 
}
.panel2 { background-image:url(/images/2.jpg); }
.panel3 { background-image:url(/images/3.jpg); }
.panel4 { 
  background-image:url(/images/4.jpg);
  z-index: 1;
}
.panel5 { background-image:url(/images/5.jpg); }
.panel6 { background-image:url(/images/6.jpg); }

// .panel1 { background-image:url(/videos/1.mp4) }
// .panel2 { background-image:url(/videos/2.mp4); } 
// .panel3 { background-image:url(/videos/3.mp4); } 
// .panel4 { background-image:url(/videos/Glitter.mov); } 
// .panel5 { background-image:url(/videos/4.mp4); } 
// .panel6 { background-image:url(/videos/5.mp4); }

.panel > * {
  margin:0;
  transition:transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel.open {
  flex: 5;
}

// .panel
// {
//     position: relative;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     height: 90vh;
//     color: #ffffff;
//     cursor: pointer;
//     transition: all 700ms ease-in;
// }

// .panel.active-panel
// {
//     flex: 5;
//     text-align: center;
// }

//       .block {
//         width: 0%;
//         height: inherit;
//         background: #ffb510;
//         position: absolute;
//         animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
//         display: flex;
//       }

//       @keyframes mainBlock {
//         0% {
//           width: 0%;
//           left: 0;
      
//         }
//         50% {
//           width: 100%;
//           left: 0;
      
//         }
//         100% {
//           width: 0;
//           left: 100%;
//         }
//       }
      
//       @keyframes secBlock {
//         0% {
//           width: 0%;
//           left: 0;
      
//         }
//         50% {
//           width: 100%;
//           left: 0;
      
//         }
//         100% {
//           width: 0;
//           left: 100%;
//         }
//       }
      
//       @keyframes mainFadeIn {
//         0% {
//           opacity: 0;
//         }
//         100% {
//           opacity: 1;
//         }
//       }

// @media(max-width:480px)
// {
//     .container
//     {
//         width: 100vw;
//     }

//     .panel:nth-last-of-type(6),
//     .panel:nth-last-of-type(7)
//     {
//         display: none;
//     }
// }


.video-wrapper {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@media (max-width: 576px) {
    .panels {
      display: inline-block !important;
      height: auto !important;
    }

    .panel {
      height: auto !important;
      padding-bottom: 40px;
      padding-top: 40px;
      align-items: center;
    }

    .panel > *:first-child { transform: none; }
    .panel.open-active > *:first-child { transform: none; }
    .panel > *:last-child { transform: none; }
    .panel.open-active > *:last-child { transform: none; }

    .event-title {
      padding-top: 24px;
      padding-bottom: 24px;
      writing-mode: horizontal-tb;
    }
}