@import '../vars';

.navbar {
    height: 140px;
    background-color: $black !important;
    border-bottom: 2px solid $mister-c-yellow;

    .navbar-brand {
        padding-left: 40px;
    }
    
    .nav-item {
        padding-right: 40px;
    }

    .dropdown-menu {
        width: 200px;
        border-radius: 0 !important;
        background-color: black !important;
        
        .dropdown-item {
            color: white;
        }

        .dropdown-item:hover {
            color: #333333;
        }
    }
}

.navbar-collapse {
    background: black;
    padding: 24px;

    .nav-item {
        padding-top: 8px;
    }

    .nav-item:last-child {
        padding-bottom: 8px;
    }
}

