@import '../vars';

#reserve {
    height: 80vh;
    padding-top: 24px;
    background-color: $black;
    background: url('/images/panther-pattern-01\ 2.svg'), url('/images/mr-c-panther-yellow\ 3.svg');
    background-size: cover, 20%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, left center;

    h1 {
        color: $mister-c-yellow;
        padding: 0;
        margin: 0;
        font-size: 121.5px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: $mister-c-yellow;
        transition: color 0.2s ease-in;
    }
}

.open-table {
    iframe {
    outline: $mister-c-yellow solid 2px !important;
    outline-offset: 10px !important;
    }
}

.modal-content {
    background: #000000 !important;
    color: #ffffff !important;
    outline: solid 1px $mister-c-yellow !important;
}

.modal-header {
    border-color: $mister-c-yellow !important;
}

.modal-footer {
    border-color: $mister-c-yellow !important;
}

.modal-body {
    p {
        color: #ffffff !important;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}